.card {
  max-width: 530px;
  display: inline-block !important;
  margin-left: 4px !important;
  margin-top: 20px;
  margin-left: 13px !important;
  height: 85%;
  width: 50%;
  background-color: white;
  color: black;
  transition: transform 0.2s ease-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.04);
  }
}

.card-content {
  text-align: center;
}

.pull-right {
  justify-content: right;
}

.mat-fab {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
  z-index: 2;
}

.color {
  color: black !important;
}

.backlog {
  border-color: red;
  border-style: solid;
}

.progress {
  border-color: blue;
  border-style: solid;
}

.complete {
  border-color: green;
  border-style: solid;
}