.card{
    max-width: 530px;
    display: inline-block !important;
    margin-left: 4px !important;
    margin-top: 20px;
    margin-left: 13px !important;
    height: 80%;
    width: 50%;
    background-color: #6081FF;
    color: white;
    transition: transform .2s ease-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.04);
    }
}

.card-content{
    text-align: center;
}

.pull-right{
  justify-content: right;
}

.mat-fab {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
  z-index: 2;
}

.color{
 color: white !important;
}