<div class="container-fluid">
  <mat-form-field style="margin-top: 20px">
    <mat-label>Risorsa</mat-label>
    <mat-select formControlName="risorsa">
      <mat-option></mat-option>
      <mat-option
        *ngFor="let user of userList"
        [value]="user.id"
        (click)="searchTask(user.userName)"
      >
        {{ user.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <div class="row d-flex">
    <!--<div class="col-sm-8 col-md-8 col-lg-6 col-xl-"></div>-->
    <mat-card
      *ngFor="let task of taskList"
      class="card"
      [ngClass]="{ backlog: task?.stato }"
    >
      <mat-card-content class="card-content">
        <mat-card-title>{{ task.titolo }}</mat-card-title>
        <mat-card-subtitle class="color"
          >Task N°{{ task.id }}</mat-card-subtitle
        >
      </mat-card-content>
      <mat-card-content>
        <h3>
          Asseganto ad
          <span style="color: black">{{ task.utenteAssegnato?.name }}</span>
        </h3>
        <p>
          {{ task.descrizione }}
        </p>

        <p></p
      ></mat-card-content>

      <mat-card-actions align="end">
        <button mat-button mat-raised-button color="warn" type="button">
          Modifica
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <button
    mat-fab
    color="warn"
    matTooltip="Aggiungi un nuovo task"
    class="pull-right"
    (click)="openModalAddTask()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
