.modal-title {
  font-size: large;
}


.footer {
  bottom: 0;
  margin-top: 20px;
  height: 80px;
  width: 100%;
}

.form-page {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas:
    "titolo titolo titolo . . . . . ."
    "descrizione descrizione descrizione descrizione descrizione descrizione descrizione . ."
    "commento commento commento commento . risorsa risorsa . . "
    "stato stato stato ore-lavorate ore-lavorate ore-lavorate ore-totali ore-totali ore-totali ";

  gap: 5px;
}

.titolo {
  grid-area: titolo;
}

.descrizione {
  grid-area: descrizione;
}

.commento {
  grid-area: commento;
}

.risorsa {
  grid-area: risorsa;
}

.stato {
  grid-area: stato;
}

.ore-lavorate {
  grid-area: ore-lavorate;
}

.ore-totali {
  grid-area: ore-totali;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem !important;
}
