.modal-title {
  font-weight: bold;
}

.risorsa {
  margin-top: 12px;
}

.footer {
  float: right !important;
  justify-content: right !important;
  bottom: 0;
  height: 60px;
  width: 100%;
}

.form-page {
  max-width: 100%;
  //position: relative;
  //padding: 1rem;
}
