<mat-toolbar> </mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" class="mat-elevation-z8" opened>
    <span class="title-side-bar">TaskBar</span>
    <button mat-button class="side-menu-button" routerLink="/login">
      <mat-icon>home</mat-icon>
      <span>home</span>
    </button>
    <button mat-button class="side-menu-button" routerLink="/task">
      <mat-icon>person</mat-icon>
      <span>TaskList</span>
    </button>
    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
